
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Teacher Pannel</title>
        <link rel="icon" type="image/x-icon" href="/images/logo.png">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="stylesheets/Admin_Page.Css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"/>
    </head>
    <body>
        <div class="Top">
        <h2 class="topText">Teacher Panel</h2>
        </div>

        <div class="Bottom">
            <div class="left">
                <div class="logo"><img src="images/logo.png" id="logo" alt="System Logo" style="height: 150px;"></div>
                <div class="box">
                    <div class="boxe">Main Navigation</div>
                    <div class="boxes" id ="active"><i class="fas fa-home"></i>Dashboard</div></a>
                    <a href="/TeacherGradeData"><div class="boxes"><i class="fas fa-book"></i>Manage Classes</div></a>
                    <div class="boxes"><i class="fas fa-calendar-alt"></i>Student Attendance</div>
                    <a href="/ProfileData"><div class="boxes"><i class="fas fa-portrait"></i>My Profile</div></a>
                    <a href="/TeacherLogin/logoutTeacher"><div class="boxes"><i class="fas fa-power-off"></i>Logout</div></a>
                  </div>
            </div>
            <div class="right">
                <div class="dashboard">
                    <!--Dashboard Page-->
                <div class="dashboardBanner" id="dashboardBanner">
                    <H2>Dashboard</H2>
                </div>
                <div class="dashboardContent" id="dashboardContent">
                    <p>Welcome back!</p>

                
                <% if(action == 'add') { %>

            <% } else { %>
                
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        
                        <div class="col"></div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="styled-table">
                        <thead>
                            <tr>
                                <th>Current Classes Taught</th>
                            </tr>
                            </thead>
                            <tbody>
                            <%
                            if(dashboardData.length > 0)
                            {
                                dashboardData.forEach(function(data){
                            %>
                            <tr class ="active-row">
                                <td><%= data.stuID_coloumn %></td>
                            </tr>
                            <%
                                });
                            }
                            else
                            {
                            %>
                            <tr>
                                <td colspan="5">No Classes Found</td>
                            </tr>
                            <t/body>
                            <%
                            }
                            %>
                        
                            
                        </table>
                    </div>
                </div>
            </div>

            <% } %>

                </div>

                </div>
            </div>
            </div>
        </div>
        
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

    </body>
</html>

